body {
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
}

main {
  margin: 30px;
  text-align: center;
}

#error {
  color: crimson;
  font-weight: bolder;
}

input {
  background-color: rgb(110, 22, 39);
  color: #dfdfdf;
  caret-color: #dfdfdf;
  accent-color: rgb(97, 18, 34);
  border-radius: 4px;
  border: none;
  line-height: 1.7;
}

button {
  border: none;
  background-color: rgb(110, 22, 39);
  color: #dfdfdf;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 5px;
}

#sort {
  color: rgb(110, 22, 39);
}

#flip {
  margin-top: 0;
}

button:hover {
  background-color: rgb(97, 18, 34);
}

#todo-list-render {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

li {
  list-style-type: none;
  background-color: rgb(110, 22, 39);
  color: #dfdfdf;
  width: fit-content;
  min-width: 200px;
  max-width: 300px;
  padding: 7px 10px;
  border-radius: 7px;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-ex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}

.time-el {
  font-size: smaller;
  font-weight: 400;
}

.remove-btn {
  height: 15px;
  cursor: pointer;
}
